<p>
  Welcome to testing component - Container component
</p>

<ng-container *ngIf="{ value : clickNum$ | async } as clickNum">
  <div style="padding: 5px;">
    <button data-testId="btnNum" type="button" (click)="onButtonClick()">
      Click here
    </button>
    You have clicked:
    <span
      [style.color]="clickNum.value > '3' ? 'red' : null"
      data-testId="clickMessage"
      >{{ clickNum.value > '0' ? clickNum.value : '' }} {{ clickNum.value > '0' ? 'times' : '' }}</span>
  </div>

  <div style="border: 1px blue solid; padding: 5px;">
    <component-testing-basic
      [replaceText]="clickNum.value > '3' ? clickNum.value : null"
    ></component-testing-basic>
  </div>
</ng-container>
